* {
  	border:0;
  	margin:0;
  	padding:0;
}



.bmrCalculatorContainer{
	height: 100vh;
	width: 100%;
	background-image:     
		linear-gradient(
      	to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ),
        url("images/bmrCalculatorContainerBackground.jpg");
	background-size: cover;
}

.bmrCalculatorContainer h1{
	margin: 0;
	padding: 0;
}

#title{
	position: relative;
	top: 10vh;
	color: white;
}


.bmrCalculatorFormContainer{
	position: relative;
	top: 150px;
	width: 500px;
	height: 350px;
	background-color: lightblue;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid grey;
	border-radius: 5%;
}

.Gender{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.bmrCalculatorForm label, input, h1{
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.bmrCalculatorForm button{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}


.recipeContainer{
	height: 100vh;
	width: 100%;
	background-image: url("images/lalala2.jpeg");
	background-size: cover;
}


.recipeContainer h3, a {
	text-align: center;
}

.recipeContainer img{
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: 200px;
	width: 200px;
}

.recipes{
	display: inline-block;
	height: 300px;
	width: 300px;	
	margin: 10px;
}

.recipes p{
	word-wrap: break-word;
}
